= simple_form_for @post, html: { multipart: true} do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited
        this post from being saved:
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.file_field :image

  .form-inputs
    = f.input :title, required: true, autofocus: true

  .form-inputs
    = f.input :description, as: :text
  .form-actions
    = f.button :submit, "submit"
